header{
	    position: relative;
    text-align: center;
    z-index: 100;
    min-height: 300px;
    background: url(https://3.bp.blogspot.com/-dymh0n0v2WQ/WBEjsR01OsI/AAAAAAAAEkU/OPGXPkpwSF0RBajGtIlT1dnZTu--HisfACLcB/s1600/tumblr_static_a8qklkvswa8s8kgsg08k4o4k8.jpg) no-repeat;
    width: 100%;
    background-position: center;
    background-color: black;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.70);
}

header .container{
    max-width: 100%;
    padding: 0px;
}

body{
	    background: #ECECEC;
    color: #666666;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7666;
    letter-spacing: 0.010em;
    word-spacing: 0;
}



#block-blackold-branding a{
        border: 2px solid #FFFFFF;
    padding: 8px 15px;
    font-family: -webkit-pictograph;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.main-container{
	    width: 1215px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
     margin-top: 30px;
}



.grid .col-md-4{
	padding-bottom: 20px;
}
.grid .col-md-4 article{
	background-color: white;
}

.quickedit-field img{
	width: 100%;
	height: auto;
}

.grid .col-md-4 article h4 a{
	text-decoration: none;
}


.grid .col-md-4 article h4 a span{
	    display: block;
    padding: 20px 30px 12px;
    font-weight: 700;
    color: #111111;
    font-weight: 700;
    line-height: 1.4444;
    letter-spacing: 0;
    word-spacing: 1px;
    font-family: Merriweather, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

.grid .col-md-4 article h4 a span:hover{
    color: #aaa;   
}


.grid .col-md-4 article .quickedit-field p{
	    padding: 10px 30px 30px;
}

.date{
	    margin-right: 10px;
    color: #aaa;
    font-size: 12px;
    padding: 5px 0 0;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

.grid .col-md-4 .user-update{
        padding: 2px 30px;
}


.node-block-id{
       padding: 30px 50px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #FFFFFF;
    transition: all 0.2s linear;
}

.node-block-id h1{
        font-size: 30px;
    margin-bottom: 18px;
    color: #111111;
    font-weight: 700;
    line-height: 1.4444;
    margin: 0 0 10px;
    letter-spacing: 0;
    word-spacing: 1px;
    font-family: Merriweather, Arial, 
                "Helvetica Neue", Helvetica, sans-serif;
}

.node-block .image{
    text-align: center;
}
.node-block img{
    width: auto;
        padding-top: 30px;
    padding-bottom: 30px;
}

.grid .col-md-4 article:hover,
.node-block-id div:hover{
    margin-top: -5px;
    margin-bottom: 5px;
        transition: all 0.2s linear;

}

.feed-sub-icon{
    display: none;
}

footer{
    max-width: 100%;
    background: #111111;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    padding: 20px 0;
    color: #CECECE;
    text-align: center;
    border-top: 4px solid #aaa;

}

footer a .fa{
        padding: 15px 14px 25px;
    font-size: 20px;
    color: #CECECE;
}


/* main navigation */


#block-blackold-main-menu ul{
   display: flex;
    list-style: none;
    padding: 15px 0;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
        margin-top: 10px;
    margin-bottom: 10px;
}

#block-blackold-main-menu ul li a{
        text-decoration: none;
    padding: 18px;
        color: #ffffff;
}

#block-blackold-main-menu{
    position: absolute;
    top: 74%;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .3);
        margin-top: -1px;
}

.my-blackold-slogan{
        margin-top: 15px;
    color: #FFFFFF;
}

.my-blackold-logo-block{
    top: 80px;
    position: relative;
}

.hide-nav{
    display: none;
}

.pager{
        padding-top: 10px;
    padding-bottom: 20px;
}

.pager ul{
        display: flex;
            justify-content: center;
}
.pager ul li {
    list-style: none;
}



.pager ul li a, .pager ul li a span{
        background: #ababab;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 11px 15px;
    margin-right: 5px;
}

